*{
    box-sizing: border-box;
  }

  .bg-image {
      background-image: url('/public/img/pakrobot_logo.png');
      background-position-x: center;
      background-image: url("img_tree.gif");
      background-repeat: no-repeat;
  }

